{{ 'section-about-us.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .about-us-section .about-us__tile-bg {
    background-image: url({{ 'saltwater_preview.webp' | asset_url }});
  }
{%- endstyle -%}

<div class="about-us-section color-{{ section.settings.color_scheme }} gradient" style="background-color: #e0f2f1; background-image: url({{ 'saltwater_preview.webp' | asset_url }}); background-repeat: repeat; background-size: 400px 400px; background-position: center;">
  <div class="about-us__content section-{{ section.id }}-padding">
    <div class="page-width">
      <div class="about-us__text-wrapper{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {%- if section.settings.heading != blank -%}
          <h2 class="about-us__heading {{ section.settings.heading_size }}">{{ section.settings.heading }}</h2>
        {%- endif -%}

        {%- if section.settings.text != blank -%}
          <div class="about-us__text rte">{{ section.settings.text }}</div>
        {%- endif -%}

        {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
          <div class="about-us__button-wrapper">
            <a href="{{ section.settings.button_link }}" class="button{% unless section.settings.button_style_secondary %} button--primary{% else %} button--secondary{% endunless %}">
              {{ section.settings.button_label }} &nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>
            </a>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "About Us",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "About Us",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>We're passionate about creating exceptional fishing and western wear that combines traditional craftsmanship with modern functionality. Every piece is designed with the outdoorsman in mind.</p>",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Learn More",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "checkbox",
      "id": "button_style_secondary",
      "default": false,
      "label": "Use secondary button style"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 60
    }
  ],
  "presets": [
    {
      "name": "About Us"
    }
  ]
}
{% endschema %}